h2{
    color: olive;
    padding-bottom: 20px;
}
/* .font
{
    font-family: 'Righteous', cursive;
    /* background: linear-gradient(#333, #eee 75%, #333); */
/* }  */
.header-bgColor{

    background-color: #808080;
    border-radius: 5px;
    margin-bottom: 40px;
    padding-left: 30px;
}
.header-color{
    background-color: #F0FFF0;

}
.p-font{
    font-weight: 500;
}
  
 