h2{
    color: olive;
    padding-bottom: 20px;
}
/* .font
{
    font-family: 'Righteous', cursive;
    /* background: linear-gradient(#333, #eee 75%, #333); */
/* }  */
.font{

    background-color: #808080;

}
.backgroundColor{
    background-color: #F0FFF0;
}
.p-font{
    font-weight: 500;
}
  
 