h2{
    color: red;
    padding-bottom: 20px;
}
/* .font
{
    font-family: 'Righteous', cursive;
    /* background: linear-gradient(#333, #eee 75%, #333); */
/* }  */
.font{

    background-color: rgb(211, 181, 104);
}

  
 