
.btn_cls{
 
  border: none;
  color: red;
  background: none;
  font-size: 15px;

}
.left{
  width: 80%;
  display: inline-block;
}
.right{
  width: 20%;
  display: inline-block;
}

.sp_right{
  width: 20%;
  
  text-align: center;
  
 
  float: right;
  
}
