/* body{
    background: linear-gradient(#333, #eee 75%, #333);
} */

.grid-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.developer{
    margin: 15px 15px;
    border: 1px soild white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px;
    border-radius: 10%;
}